body{ margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #8bdaba, #87CEEB);
    color: #333;
    line-height: 1.6;
    background-attachment: fixed;
    background-size: cover;
   }
   header{
    position: sticky;
   padding: 1rem 0;
}
 nav ul{
    display: flex;
    justify-content: center;
    margin: 0 15px;
    padding: 0;
    list-style: none;
    
}
section{
    padding: 16px 20px;
    text-align: center;
    margin: 30px 20px;
    border-radius: 12px;
    background-color: #87CEEB;
    border: 2px solid #12c055;
}
nav ul li a{
    margin: 0 15px;
}
.project-card {
    background-color: rgb(142, 222, 247);
    border: 2px solid #12c055;
    border-radius: 12px ;
    line-height: 1.5;

}
#projects :hover{
    background-color: rgb(217, 232, 90);
}

form button:hover{
    background-color: rgb(193, 225, 67);
}

#hero {
        padding: 100px 20px;
    color: #fff;
    background: linear-gradient(135deg, rgba(255, 97, 247, 0.8), rgba(93,173,226,0.8));
}
#about{
    background: linear-gradient(150deg, rgba(204, 67, 177, 0.9), rgba(250, 119, 219, 0.9));
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#Skills{
    background: linear-gradient(150deg, rgba(119,221,119,0.9), rgba(119,221,221,0.9));
}
#Projects{
    background: linear-gradient(150deg, rgba(153, 127, 21, 0.9), rgba(255,143,143,0.9));
}
#Achievements{
    background: linear-gradient(150deg, rgba(119,119,221,0.9), rgba(221,119,221,0.9));
}
#contact{
    background: linear-gradient(135deg, rgba(148, 16, 130, 0.9), rgba(229, 245, 6, 0.9));
}